spring:
  application:
    name: theater_proj
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    defer-datasource-initialization: true
  h2:
    console:
      settings:
        web-allow-others: true
      enabled: true
server:
  port: 8088
